<h2>Inscription</h2>

<form [formGroup]="signUpForm" class="signup-container" (ngSubmit)="onSignUp()">

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Pseudo</mat-label>
      <input matInput type="text" placeholder="Pseudo" formControlName="username">
      <mat-error *ngIf="f['username'].getError('required')!=null">Ce champ est requis</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Adresse email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf=" f['email'].getError('email')!=null">Format email incorrect</mat-error>
      <mat-error *ngIf=" f['email'].getError('required')!=null">Ce champ est requis</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf=" f['password'].getError('required')!=null">Ce champ est requis</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Veuiller confirmer le mot de passe</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="passwordConfirmation">
      <mat-error *ngIf="f['passwordConfirmation'].getError('Mustmatch')!=null">La confirmation du mot de passe est incorrect</mat-error>
    </mat-form-field>
  </p>

  <button mat-raised-button type="submit" color="primary" [disabled]="signUpForm.valid===false">
    Inscription
  </button>

</form>
