<div class="signup-container">

  <h2 class="signup-title">Inscription</h2>

  <form [formGroup]="signUpForm" class="signup-form" (ngSubmit)="onSignUp()">

    <mat-form-field class="signup-form__pseudo" appearance="outline">
      <mat-label>Pseudo</mat-label>
      <input matInput type="text" placeholder="Pseudo" formControlName="username" autocomplete="off">
      <mat-error *ngIf="f['username'].getError('required')!=null">Ce champ est requis</mat-error>
    </mat-form-field>

    <mat-form-field class="signup-form__email" appearance="outline">
      <mat-label>Adresse email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off">
      <mat-error *ngIf=" f['email'].getError('email')!=null">Format email incorrect</mat-error>
      <mat-error *ngIf=" f['email'].getError('required')!=null">Ce champ est requis</mat-error>
    </mat-form-field>

    <div class="signup-form__password">

      <mat-form-field class="password" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password" autocomplete="off">
        <mat-error *ngIf=" f['password'].getError('required')!=null">Ce champ est requis</mat-error>
        <mat-error *ngIf=" f['password'].getError('pattern')!=null">Le mot de passe doit contenir 8 caractères minimum dont 1 chiffre et une majuscule !</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="password-confirm" appearance="outline">
        <mat-label>Veuiller confirmer le mot de passe</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" type="password" formControlName="passwordConfirmation" autocomplete="off">
        <mat-error *ngIf="f['passwordConfirmation'].getError('Mustmatch')!=null">La confirmation du mot de passe est incorrect</mat-error>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" type="button">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </div>

    <button class="signup-btn" mat-raised-button type="submit" color="primary" [disabled]="signUpForm.invalid">
      S'inscrire
    </button>

  </form>

</div>


