
<mat-card *ngIf="post" class="update-post-card">

  <mat-card-title class="form-title">Modifier Publication</mat-card-title>

  <mat-card-content>

    <form class="form-container" [formGroup]="updateForm">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Exprimez-vous</mat-label>
          <textarea [(ngModel)]="post.content" type="text" rows="4" formControlName="content" matInput></textarea>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Sélectionner une URL d'image</mat-label>
          <input [(ngModel)]="post.media" matInput type="text" formControlName="media">
        </mat-form-field>
      </p>

      <button (click)="updatePost()" class="form-btn" type="submit" [disabled]="updateForm.invalid" mat-raised-button>Publier</button>

    </form>

  </mat-card-content>

</mat-card>
