.update-post-card {
  max-width: 510px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-title {
    margin-bottom: 30px;
  }

  .content-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .display-none {
    display: none;
  }

  .img-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    &:hover {
      background-color: #4E5166;
      color: white;
    }
  }

  .form-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #4E5166;
      color: white;
    }
  }

}
