.comment-card {
  background-color: #efefef;
  margin-bottom: 10px;

  mat-card-content {
    margin-left: 10px;
  }

  mat-card-actions {
    margin-left: auto;
  }

  .delete-btn {
    margin-left: auto;
    &:hover {
      color: #FD2D01;
    }
  }

}


