<mat-card>
  <mat-card-header>
    <img *ngIf="comment.User.picture" mat-card-avatar [src]="comment.User.picture" [alt]="comment.User.username">
    <img *ngIf="!comment.User.picture" mat-card-avatar src="assets/images/default/blank-profile-picture.webp" alt="avatar par défaut">
    <mat-card-title>
      {{ comment.User.username }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ comment.content }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *ngIf="myOwnComment()">
    <button (click)="onDelete()">Supprimer</button>
  </mat-card-actions>
</mat-card>

