<mat-card class="comment-card">

  <mat-card-header>
    <img *ngIf="comment.User.picture" mat-card-avatar [src]="comment.User.picture" [alt]="comment.User.username">
    <img *ngIf="!comment.User.picture" mat-card-avatar src="assets/images/default/blank-profile-picture.webp" alt="avatar par défaut">
    <mat-card-title>
      {{ comment.User.username }}
    </mat-card-title>
    <mat-card-subtitle>
      le {{ comment.createdAt | date }} à {{ comment.createdAt | date: 'hh:mm' }}
    </mat-card-subtitle>
    <mat-icon class="delete-btn" *ngIf="myOwnComment()" (click)="onDelete()" color="primary">delete</mat-icon>
  </mat-card-header>

  <mat-card-content>
    {{ comment.content }}
  </mat-card-content>

</mat-card>

