.header {
  height: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  &__menu {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__logo-container {
    grid-area: 1 / 2 / 2 / 3;

    .logo {
      max-width: 100%;
    }
  }

  &__isAdmin {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
  }
}
