<mat-toolbar class="header" color="primary">

  <button *ngIf="userService.isAuthenticated() === true" mat-icon-button [matMenuTriggerFor]="menu" class="header__menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="toHome()" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </button>
    <button (click)="toAccount()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Mon compte</span>
    </button>
    <button (click)="toAccountList()" mat-menu-item>
      <mat-icon>list</mat-icon>
      <span>Liste des comptes</span>
    </button>
    <button (click)="onLogout()" mat-menu-item>
      <mat-icon>output</mat-icon>
      <span>Se déconnecter</span>
    </button>
  </mat-menu>

  <span class="header__logo-container">
    <img (click)="toHome()" class="logo" src="assets/images/GroupomaniaLogos/icon-left-font-monochrome-white.svg" alt="Logo de Groupomania">
  </span>

  <span *ngIf="isAdmin()" class="header__isAdmin">
    <p>⚠️Administrateur</p>
  </span>

</mat-toolbar>

