<mat-toolbar *ngIf="isAdmin() == false" class="header" color="primary">

  <span class="header-logo-container">
    <img class="logo" src="assets/images/GroupomaniaLogos/icon-left-font-monochrome-white.svg" alt="Logo de Groupomania">
  </span>

  <span class="header-icon-container">
    <button *ngIf="isConnected()" (click)="toHome()" mat-icon-button>
      <mat-icon class="icon-home" aria-hidden="false" fontIcon="home"></mat-icon>
    </button>
    <button *ngIf="isConnected()" (click)="toAccount()" mat-icon-button>
      <mat-icon class="icon-account" aria-hidden="false" fontIcon="account_circle"></mat-icon>
    </button>
    <button *ngIf="isConnected()" (click)="onLogout()" mat-icon-button>
      <mat-icon class="icon-output" aria-hidden="false" fontIcon="output"></mat-icon>
    </button>
  </span>

</mat-toolbar>

<mat-toolbar *ngIf="isAdmin() == true" class="header" color="warn">

  <span class="header-logo-container">
    <img class="logo" src="assets/images/GroupomaniaLogos/icon-left-font-monochrome-white.svg" alt="Logo de Groupomania">
  </span>

  <span class="header-icon-container">
    <button *ngIf="isConnected()" (click)="toHome()" mat-icon-button>
      <mat-icon class="icon-home" aria-hidden="false" fontIcon="home"></mat-icon>
    </button>
    <button *ngIf="isConnected()" (click)="toAccount()" mat-icon-button>
      <mat-icon class="icon-account" aria-hidden="false" fontIcon="account_circle"></mat-icon>
    </button>
    <button *ngIf="isConnected()" (click)="onLogout()" mat-icon-button>
      <mat-icon class="icon-output" aria-hidden="false" fontIcon="output"></mat-icon>
    </button>
  </span>

</mat-toolbar>
