.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-card {
  max-width: 550px;
  margin: 50px 20px;
  padding: 50px;

  &__header {
    margin-bottom: 20px;
    .title {
      font-size: 24px;
      .username {
        font-weight: bold;
      }
    }
  }

  &__content {

    .bio {
      font-size: 17px;
      border: #FFD7D7 solid 2px;
      border-radius: 10px;
      padding: 10px;

      &__content {
        margin-left: 10px;
        font-style: italic;
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 8px;
    }
  }
}
