.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


mat-card {
  max-width: 300px;
  max-height: 300px;
  padding: 30px;

  .login-container{
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    margin: 5px;
  }

  mat-card-footer {
    text-align: center;
  }
}
