.post-card {
  box-sizing: border-box;
  width: 35%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    font-size: 18px;
  }
  &__header {
    display: flex;
    flex-direction: column;

    &__profil {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        border: 1px solid black;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      h2 {
        margin: 0;
        font-size: 20px;
      }
    }
    &__date {
      p {
        font-size: 16px;
      }
    }
  }
  &__content {
    h3 {
      font-size: 19px;
      margin: 10px;
    }
    p {
      margin: 15px;
    }
  }
  &__footer {
    margin: 15px;
  }
}

.liked {
  button {
    background-color: dodgerblue;
    box-shadow: dodgerblue 3px 3px 7px;
    color: white;
    &:active {
      box-shadow: dodgerblue 0 0 5px;
    }
  }
}
