<div class="post-card" [ngClass]="{ liked: buttonText === 'disLike' }">
  <div class="post-card__header">
    <img src=""alt="photo de profil">
    <h2>Prénom Nom</h2>
    <p>Publié le {{ post.createdDate | date: 'd MMMM yyyy, à HH:mm' }}</p>
  </div>
  <div class="post-card__content">
    <h3>{{ post.title | titlecase }}</h3>
    <img [src]="post.imageUrl" [alt]="post.title">
    <p>{{ post.description }}</p>
    <button (click)="onViewPost()">VIEW</button>
    ❤ {{ post.likes }}
  </div>
</div>

