.user-card {
  max-width: 500px;
  margin: 50px auto;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .picture-container {
      margin-top: 10px;
      position: relative;

      .picture-btn {
        position: absolute;
        top: 80%;
      }
    }

    .pseudo-email-container {
      display: flex;
      justify-content: space-between;

      .pseudo-input {
        margin-right: 20px;
      }
    }
  }

  .bio-input {
    width: 100%;
  }

  .display-none {
    display: none;
  }
}



