<div class="posts-container">
  <div *ngFor="let user of users$ | async" class="post">

    <mat-card class="post__card">

      <mat-card-header class="post__card__header">

        <img *ngIf="user.picture" (click)="toAccount(user.id)" mat-card-avatar [src]="user.picture" alt="avatar">
        <img *ngIf="!user.picture" (click)="toAccount(user.id)" mat-card-avatar src="assets/images/default/blank-profile-picture.webp" alt="avatar par défaut">
        <mat-card-title (click)="toAccount(user.id)">{{ user.username | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ user.createdAt | date }}</mat-card-subtitle>
        <q *ngIf="user.bio" class="user-bio">{{ user.bio }}</q>

        <mat-card-actions *ngIf="isAdmin() || myOwnAccount(user.id)" class="post__card__header__btn">
          <button *ngIf="myOwnAccount(user.id)" (click)="toUpdateAccount()" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onConfirmDialog(user.id)" color="primary" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card-header>

      <mat-card-footer *ngIf="user.isAdmin">
        ⚠️admin
      </mat-card-footer>

    </mat-card>
  </div>
</div>
