.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.post__card {
  width: 60%;
}

.post__card__header__btn {
  margin-left: auto;
}
