<mat-card class="post-card">

  <mat-card-header>

    <img *ngIf="post.User.picture" mat-card-avatar [src]="post.User.picture" [alt]="post.User.username">
    <img *ngIf="!post.User.picture" mat-card-avatar src="assets/images/default/blank-profile-picture.webp" alt="avatar par défaut">
    <mat-card-title>{{ post.User.username }}</mat-card-title>
    <mat-card-subtitle>{{ post.createdAt | date }}</mat-card-subtitle>

    <span class="edit-post">
      <mat-icon class="edit-post__btn" *ngIf="myOwnPost()" (click)="onUpdate(post.id)" color="primary">edit</mat-icon>
      <mat-icon class="edit-post__btn" *ngIf="myOwnPost()" (click)="onDelete(post.id)" color="primary">delete</mat-icon>
    </span>

  </mat-card-header>

  <img *ngIf="post.media" mat-card-image [src]="post.media" [alt]="post.User.username">

  <mat-card-content>
    <div class="post-content-text">
      <p>{{ post.content }}</p>
    </div>
    <div class="post-content-info">
      <span class="post-content-info__like">
        <mat-icon class="icon-like" aria-hidden="false" fontIcon="favorite"></mat-icon>
        <span>{{ likesNbrs }}</span>
      </span>
      <span><a (click)="onComments()">{{ post.Comments.length }} commentaire(s)</a></span>
    </div>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-actions class="post-action-btn">
    <button (click)="onLike(post.id)" mat-button>J'aime</button>
    <button mat-button>Commenter</button>
  </mat-card-actions>

  <div *ngIf="showComments === true">
    <app-add-comment [postId]="post.id" (refresh)="list.getComments()"></app-add-comment>
    <app-comment-list #list [post]="post"></app-comment-list>
  </div>

</mat-card>

