<mat-card class="add-post-card">

  <mat-card-title class="form-title">Nouvelle Publication</mat-card-title>

  <mat-card-content>

    <form class="form-container" [formGroup]="postForm" (ngSubmit)="submitData()">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Exprimez-vous</mat-label>
          <textarea (change)="getContent(name.value)" #name type="text" rows="4" formControlName="content" matInput></textarea>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Sélectionner une URL d'image</mat-label>
          <ngx-mat-file-input (change)="getFile($event)" formControlName="media"></ngx-mat-file-input>
        </mat-form-field>
      </p>

      <button class="form-btn" type="submit" [disabled]="postForm.invalid" mat-raised-button>Publier</button>

    </form>

  </mat-card-content>

</mat-card>

<mat-card class="post-card" *ngIf="postPreview$ | async as post">
  <img *ngIf="post.media" mat-card-image [src]="post.media" alt="photo">
  <mat-card-content>
    <div class="post-content-text">
      <p>{{ post.content }}</p>
    </div>
    <div class="post-content-info">
      <span class="post-content-info__like">
        <mat-icon class="icon-like" aria-hidden="false" fontIcon="favorite"></mat-icon>0</span>
      <span>0 commentaire(s)</span>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions class="post-action-btn">
    <button mat-button>J'aime</button>
    <button mat-button>Commenter</button>
  </mat-card-actions>
</mat-card>
